---
interface props {
  href?: string;
}
const { href } = Astro.props;
---

<a

  href={href}
  class="w-10 inline-flex h-10 rounded-full justify-center bg-zinc-900 hover:bg-zinc-400 items-center">
  <slot />
</a>
