---
interface props{
    href?: string;
}
const {href} = Astro.props
---

<li>
    <a href={href} class="flex gap-4 text-zinc-400 hover:text-zinc-100 items-center py-3 px-3 transform translate-x-0 translate-y-0 translate-z-0 text-1rem font-medium">
       <slot/>
    </a>

</li>